/* Styling for the Product App */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  padding: 2em;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Styling for the App container */
.container {
  
  width: 300px;
  color: #343a40;
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container h2{
text-align: center;
}

/* Styling for the Search Bar */
form {
  margin-bottom: 20px;
}

input[type='text'] {
  width: 100%;
  padding: 8px;
  color: black;
  background-color: #fff;
  margin-bottom: 8px;
  box-sizing: border-box; 
  border: 1px solid black;
  border-radius: 4px;
}

form p {
  margin: 0;
  font-size: 0.9em;
}

/* Styling for the Product Table --- */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px 4px;
}

/* Table Headers (Name, Price) */
thead th {
  text-align: left;
  border-bottom: 2px solid #343a40;
}

/* Category Row (Fruits, Vegetables) */
tbody th {
  font-weight: bold;
  text-align: center;
  padding-top: 15px; 
}